.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


img {
    position: absolute;
    height: 130px;
    width: 130px;
    margin-left: -370px;
    margin-top: 50px;
}

main {
    position: relative;
    width: 600px;
    height: 100vh;
    background-color: #ccffcc;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
}

h1 { margin: 0 auto 0 auto; }

.box {
    background-color: lightpink;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.food-container {
  margin-top: 10px;
  background-color: #ffff80;
  height: 100px;
  width: 100%;
} 












